*.elc
*~
*.swp
*.gpg
*.hi
*.o
*.log

themes.dynamic-colors/wallpapers/

ncmpcpp/.mpd/*
!ncmpcpp/.mpd/mpd.conf
!ncmpcpp/.mpd/playlists/
ncmpcpp/.mpd/playlists/*

.weechat/.*
!.weechat/.weechat/weechat.conf

gnupg/*
!gnupg/gpg-agent.conf
vim/.vim/.netrwhist

.emacs/.emacs.d/suscolors/.git/
.emacs/.emacs.d/elpa/*
.emacs/.emacs.d/auto-save-list/*


themes/.dynamic-colors/wallpapers/
vimb/.config/vimb/bookmark
vimb/.config/vimb/cookies
vimb/.config/vimb/config
vimb/.config/vimb/history
vimb/.config/vimb/hsts
vimb/.config/vimb/queue
vimb/.config/vimb/search
vimb/.config/vimb/style.css
vimb/.config/vimb/closed
vimb/.config/vimb/command

